/* Animations */

@keyframes slideToBottom {
  0% { top: -16px; opacity: 0; }
  100% { top: 0; opacity: 1; }
}

@keyframes slideToTop {
  0% { top: 16px; opacity: 0; }
  100% { top: 0; opacity: 1; }
}

.a-heading {
  opacity: 0;
  position: relative;
  animation: slideToBottom .5s .5s forwards;
}

.a-networking {
  opacity: 0;
  position: relative;
  animation: slideToTop .5s .5s forwards;
}
