/* Components */

.c-page-label {
  position: fixed;
  left: -18px;
  bottom: 72px;
  color: var(--color-brand);
  font-size: .6875rem;
  font-family: var(--font-secondary);
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  transform: rotate(-90deg);
}

.c-hamburger {
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.c-heading {
  color: var(--color-brand);
  font-size: .75rem;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  letter-spacing: .0625rem;
}

.c-welcome {
  font-size: 1.5rem;
  font-family: var(--font-primary);
}

.c-paragraph {
  font-size: .875rem;
  font-family: var(--font-secondary);
}
