/* Components: Quote */

.c-quote {
  width: 100%;
  margin: 3rem auto;
  padding: 1rem;
  @media (min-width: 45em) {
    width: 80%;
  }
  @media (min-width: 64em) {
    width: 45%;
  }
  position: relative;
  text-align: center;
  &__text {
    font-size: 1.75rem;
    font-family: var(--font-secondary);
    font-weight: 700;
    line-height: 1.4;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &:before {
    top: 0;
    width: 6px;
    height: 6px;
    background-color: var(--color-brand);
    border-radius: 50%;
  }
  &:not(&--button):after {
    bottom: 0;
    width: 30%;
    height: 2px;
    background-color: var(--color-brand);
  }
}
