/* Components: Buttons */

.c-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 3rem;
  border: 1px solid transparent;
  background-color: var(--color-brand);
  color: #fff;
  border-radius: 1.5rem;
  border-color: transparent;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  letter-spacing: 1px;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color ease 0.2s;
  &:hover {
    background-color: var(--color-brand-hover);
  }
}
