/* Components */

.c-page-label {
  position: fixed;
  left: -18px;
  bottom: 72px;
  color: var(--color-brand);
  font-size: .6875rem;
  font-family: var(--font-secondary);
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  transform: rotate(-90deg);
}

.c-hamburger {
  width: 24px;
  height: 19px;
  cursor: pointer;
}

.c-heading {
  color: var(--color-brand);
  font-size: .75rem;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  letter-spacing: .0625rem;
}

.c-welcome {
  font-size: responsive 1.25rem 1.5rem;
  font-range: 720px 1280px;
  font-family: var(--font-primary);
}

.c-networking {
  font-size: responsive .75rem .875rem;
  font-range: 720px 1280px;
  font-family: var(--font-secondary);
  line-height: 2;
}

.c-paragraph {
  font-size: responsive .75rem .875rem;
  font-range: 720px 1280px;
  font-family: var(--font-secondary);
}

.c-link {
  color: var(--color-brand);
  border-bottom: 1px solid var(--color-brand);
}

.c-slogan {
  white-space: nowrap;
  @media only screen and (min-width: 720px) {
    margin-bottom: 56px;
    transform: rotate(-90deg);
  }
}

.c-media {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  &__image {
    //min-width: 100%;
    min-height: 100%;
  }
}
