/* Components */

.c-label {
  margin: 0;
  color: var(--color-brand);
  font-size: 0.75rem;
  font-weight: 600;
  font-family: var(--font-primary);
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  &--underline {
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      display: block;
      width: 10%;
      height: 2px;
      background-color: var(--color-brand);
    }
  }
}

.c-portrait {
  &__image {
    display: block;
    width: 100%;
  }
}

.c-paragraph {
  margin-top: 0;
  margin-bottom: 0.875rem;
  font-size: 0.875rem;
  &--reset {
    margin-bottom: 0;
  }
}

.c-link {
  color: var(--color-brand);
  font-size: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--color-brand);
}

.c-silent {
  color: var(--color-text-secondary);
}

.c-about {
  margin-bottom: 2rem;
}

.c-footer {
  text-align: center;
  border-top: 1px solid var(--color-bg-secondary);
  @media (min-width: 45em) {
    text-align: left;
  }
  &__actions {
    @media (max-width: 45em) {
      margin-bottom: 2rem;
    }
  }
  &__copy {
    margin: 0;
    padding: 0;
    font-size: 0.6875rem;
    @media (min-width: 45em) {
      text-align: right;
    }
  }
}

.c-icon {
  &__svg {
    width: 20px;
    height: 20px;
  }
}
