/* Objects */

.o-page {
  display: grid;
  grid-template-columns: 64px auto auto;
  align-items: stretch;
  justify-content: flex-start;
  align-content: stretch;
  height: 100%;
}

.o-bar {
  min-width: 64px;
  margin: 0;
  padding: 32px 0;
  background-color: var(--color-bg-primary);
}

.o-main {
  display: flex;
  min-width: 320px;
  align-items: center;
  justify-content: center;
}

.o-aside {
  @media only screen and (max-width: 960px) {
    display: none;
  }
  overflow: hidden;
  margin-top: 32px;
  margin-bottom: 32px;
}

.o-intro {
  padding: 10%;
}

.o-box {
  margin: 10%;
}

.o-content {

}
