/* Imports */

/* Settings */

/* Base styles */

html {
  height: 100%;
  line-height: 1.6;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  color: #444;
  background-color: #f9f9f9;
  font-family: 'PT Serif', Arial, serif;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

/* Objects */

.o-page {
  display: grid;
  grid-template-columns: 64px auto auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  height: 100%;
}

.o-bar {
  min-width: 64px;
  margin: 0;
  padding: 32px 0;
  background-color: #fff;
}

.o-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 320px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 960px) {

  .o-aside {
    display: none;
  }
}

.o-aside {
  overflow: hidden;
  margin-top: 32px;
  margin-bottom: 32px;
}

.o-intro {
  padding: 10%;
}

.o-box {
  margin: 10%;
}

.o-content {

}

/* Components */

.c-page-label {
  position: fixed;
  left: -18px;
  bottom: 72px;
  color: #045afa;
  font-size: 11px;
  font-size: .6875rem;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.c-hamburger {
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.c-heading {
  color: #045afa;
  font-size: 12px;
  font-size: .75rem;
  font-family: 'Montserrat', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: .0625rem;
}

.c-welcome {
  font-size: calc(1rem + 0.5 * ((100vw - 45rem) / 35));
  font-size: calc(1rem + 0.5 * ((100vw - 26.25rem) / 53.75));
  font-family: 'PT Serif', Arial, serif;
}

@media screen and (min-width: 1280px) {

  .c-welcome {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 420px) {

  .c-welcome {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1280px) {

  .c-welcome {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 720px) {

  .c-welcome {
    font-size: 1rem;
  }
}

.c-paragraph {
  font-size: calc(.75rem + 0.125 * ((100vw - 45rem) / 35));
  font-size: calc(.75rem + 0.125 * ((100vw - 26.25rem) / 53.75));
  font-family: 'Montserrat', Arial, sans-serif;
}

@media screen and (min-width: 1280px) {

  .c-paragraph {
    font-size: .875rem;
  }
}

@media screen and (max-width: 420px) {

  .c-paragraph {
    font-size: .75rem;
  }
}

@media screen and (min-width: 1280px) {

  .c-paragraph {
    font-size: .875rem;
  }
}

@media screen and (max-width: 720px) {

  .c-paragraph {
    font-size: .75rem;
  }
}

.c-link {
  color: #045afa;
  border-bottom: 1px solid #045afa;
}

/* Utilities and Helpers */

.u-silent { color: #999; }

.u-mb4 { margin-bottom: 64px; }
