/* Imports */

/* Settings */

/* Base styles */

html {
  height: 100%;
  line-height: 1.6;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  color: #444;
  background-color: #f9f9f9;
  font-family: 'PT Serif', Arial, serif;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

/* Objects */

@media only screen and (min-width: 720px) {

  .o-page {
    display: grid;
    grid-template-columns: 64px auto auto;
  }
}

.o-page {
  height: 100%;
}

.o-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 32px;
  background-color: #fff;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media only screen and (min-width: 720px) {

  .o-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 32px 0;
    min-width: 64px;
  }
}

.o-bar:hover {
  min-width: 72px;
  -webkit-box-shadow: 0 0 25px 0px rgba(46, 61, 73, .2);
          box-shadow: 0 0 25px 0px rgba(46, 61, 73, .2);
}

.o-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 320px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-aside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 8px;
  padding-bottom: 8px;
  overflow: hidden;
}

@media only screen and (max-width: 960px) {

  .o-aside {
    display: none;
  }
}

.o-aside__media {
    overflow: hidden;
}

.o-aside__frame {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 30%;
    background-color: #045afa;
}

.o-intro {
  padding: 10%;
}

.o-box {
  margin: 32px;
}

@media only screen and (min-width: 720px) {

  .o-box {
    margin: 10%;
  }
}

.o-content {

}

/* Components */

.c-page-label {
  position: fixed;
  left: -18px;
  bottom: 72px;
  color: #045afa;
  font-size: 11px;
  font-size: .6875rem;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.c-hamburger {
  width: 24px;
  height: 19px;
  cursor: pointer;
}

.c-heading {
  color: #045afa;
  font-size: 12px;
  font-size: .75rem;
  font-family: 'Montserrat', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: .0625rem;
}

.c-welcome {
  font-size: calc(1.25rem + 0.25 * ((100vw - 45rem) / 35));
  font-size: calc(1.25rem + 0.25 * ((100vw - 26.25rem) / 53.75));
  font-family: 'PT Serif', Arial, serif;
}

@media screen and (min-width: 1280px) {

  .c-welcome {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 420px) {

  .c-welcome {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1280px) {

  .c-welcome {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 720px) {

  .c-welcome {
    font-size: 1.25rem;
  }
}

.c-networking {
  font-size: calc(.75rem + 0.125 * ((100vw - 45rem) / 35));
  font-size: calc(.75rem + 0.125 * ((100vw - 26.25rem) / 53.75));
  font-family: 'Montserrat', Arial, sans-serif;
  line-height: 2;
}

@media screen and (min-width: 1280px) {

  .c-networking {
    font-size: .875rem;
  }
}

@media screen and (max-width: 420px) {

  .c-networking {
    font-size: .75rem;
  }
}

@media screen and (min-width: 1280px) {

  .c-networking {
    font-size: .875rem;
  }
}

@media screen and (max-width: 720px) {

  .c-networking {
    font-size: .75rem;
  }
}

.c-paragraph {
  font-size: calc(.75rem + 0.125 * ((100vw - 45rem) / 35));
  font-size: calc(.75rem + 0.125 * ((100vw - 26.25rem) / 53.75));
  font-family: 'Montserrat', Arial, sans-serif;
}

@media screen and (min-width: 1280px) {

  .c-paragraph {
    font-size: .875rem;
  }
}

@media screen and (max-width: 420px) {

  .c-paragraph {
    font-size: .75rem;
  }
}

@media screen and (min-width: 1280px) {

  .c-paragraph {
    font-size: .875rem;
  }
}

@media screen and (max-width: 720px) {

  .c-paragraph {
    font-size: .75rem;
  }
}

.c-link {
  color: #045afa;
  border-bottom: 1px solid #045afa;
}

.c-slogan {
  white-space: nowrap;
}

@media only screen and (min-width: 720px) {

  .c-slogan {
    margin-bottom: 56px;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

.c-media {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-media__image {
    position: relative;
    z-index: 1;
    min-height: 100%;
  }

/* Utilities and Helpers */

.u-silent { color: #999; }

.u-mb4 { margin-bottom: 64px; }

/* Animations */

@-webkit-keyframes slideToBottom {
  0% { top: -16px; opacity: 0; }
  100% { top: 0; opacity: 1; }
}

@keyframes slideToBottom {
  0% { top: -16px; opacity: 0; }
  100% { top: 0; opacity: 1; }
}

@-webkit-keyframes slideToTop {
  0% { top: 16px; opacity: 0; }
  100% { top: 0; opacity: 1; }
}

@keyframes slideToTop {
  0% { top: 16px; opacity: 0; }
  100% { top: 0; opacity: 1; }
}

.a-heading {
  opacity: 0;
  position: relative;
  -webkit-animation: slideToBottom .5s .5s forwards;
          animation: slideToBottom .5s .5s forwards;
}

.a-networking {
  opacity: 0;
  position: relative;
  -webkit-animation: slideToTop .5s .5s forwards;
          animation: slideToTop .5s .5s forwards;
}
