:root {
  --color-brand: #045afa;
  --color-text-primary: #444;
  --color-text-secondary: #999;
  --color-bg-primary: #fff;
  --color-bg-secondary: #f9f9f9;

  --font-primary: 'PT Serif', Arial, serif;
  --font-secondary: 'Montserrat', Arial, sans-serif;
}

html {
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: var(--color-bg-secondary);
  font-family: var(--font-primary);
}
