/* Base styles */

* {
  box-sizing: border-box;
}

::-moz-selection {
  background: var(--color-brand);
  color: #fff;
}
::selection {
  background: var(--color-brand);
  color: #fff;
}

html {
  font-size: 15px;
  @media (min-width: 64em) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  color: var(--color-text-primary);
  background-color: var(--color-bg-secondary);
  font-size: 1rem;
  font-family: var(--font-primary);
  line-height: 1.8;
  @media (min-width: 45em) {
    padding: 24px;
  }
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}
