<section class="o-container">
  <div class="o-grid">
    <div class="o-grid__item o-grid__item--spacing">
      <article class="c-about">
        <header class="c-about__header">
          <h1 class="c-label c-label--underline">Experience & Skills</h1>
          <p class="c-paragraph">
            I've contributed to teams across the U.S. and Europe—partnering with startups and established organizations like Anki, World Market, UC Boulder, and more. Each project brought its own challenges, and I take pride in crafting thoughtful, effective solutions that align with both user and business needs.
          </p>
          <p class="c-paragraph">
            I specialize in building, testing, and shipping modern front-end experiences using tools like JavaScript, TypeScript, React, GraphQL, Node.js, and more. I'm passionate about clean code, design quality, and collaborating with others to turn ideas into scalable, user-focused products.
          </p>
        </header>
      </article>
    </div>
    <div class="o-grid__item o-grid__item--spacing">
      <article class="c-about">
        <header class="c-about__header">
          <h1 class="c-label c-label--underline">What Drives Me</h1>
          <p class="c-paragraph">
            Whether in code or life, I'm motivated by growth. My background in competitive sports taught me to push limits, stay curious, and keep improving — lessons I carry into my work every day. I'm constantly exploring new technologies, refining my skills, and challenging myself to solve problems in more thoughtful and effective ways.
          </p>
          <p class="c-paragraph">
            Beyond the technical side, I care deeply about collaboration, mentorship, and creating environments where people can thrive. I believe the best work happens when curiosity meets discipline — and when people bring their whole selves to the table.
          </p>
        </header>
      </article>
    </div>
  </div>
</section>
