<section class="o-container">
  <div class="o-grid">
    <div class="o-grid__item o-grid__item--spacing">
      <article class="c-about">
        <header class="c-about__header">
          <h1 class="c-label c-label--underline">Experience and challenges</h1>
          <p class="c-paragraph">
            I have had the chance to be a contributing member of early-stage startups and well-established companies in the USA, Russia, the Czech Republic, and the Republic of Moldova.
            I enjoyed working with the great teams from Anki, World Market, Title Nine, Lucky Brand Jeans, UC Boulder, and many others.
            Each project that I’ve faced was unique and had its own challenges.
            I believe that my job is to continuously think through requirements and develop impactful ways of efficiently solving problems.
          </p>
        </header>
      </article>
    </div>
    <div class="o-grid__item o-grid__item--spacing">
      <article class="c-about">
        <header class="c-about__header">
          <h1 class="c-label c-label--underline">Technical skills</h1>
          <p class="c-paragraph">
            I build, test, and ship user-facing features/products using modern tools such as
            Javascript/Typescript, React/Redux, GraphQL, Node.js, Python, HTML/CSS, PostCSS, Styled Components, Jest, Webpack, Git…
            I enjoy sharing my knowledge and experiences with clients, developers who need help in their software engineering journey,
            and anyone who is interested in learning more about technology. In addition to my engineering and leadership experience,
            I am passionate about all aspects of design, code quality, and attention to detail.
          </p>
        </header>
      </article>
    </div>
    <div class="o-grid__item">
      <article class="c-about">
        <header class="c-about__header">
          <h1 class="c-label c-label--underline">Competition</h1>
          <p class="c-paragraph">
            My time in college was full of sports and creative activities.
            I was a member of the soccer, track and field teams, as well as studying music during my free time as a hobby.
            I participated in and won multiple National and European sports competitions. However,
            the most challenging competition that I’ve faced, and continue to face, is myself. I’m grateful that I have had the drive to repeatedly push my limits,
            independently learn new technologies, and seek to grow as an engineer.
          </p>
        </header>
      </article>
    </div>
  </div>
</section>
