<section class="o-container">
  <div class="o-grid">
    <div class="o-grid__item">
      <h1 class="c-label">Currently</h1>
      <p class="c-paragraph">
        Principal Software Engineer <a class="c-link" href="https://carvana.com/" target="_blank" rel="noopener">Carvana</a>
      </p>
    </div>
    <div class="o-grid__item">
      <p class="c-paragraph">
        As an undergraduate, I studied design where I developed my skills in creativity and attention to detail.
        However, technology was, and still is, my biggest passion. The role of a front-end engineer allows me to be a part of both worlds.
        I enjoy creating an effortless user experience and am always striving to find the best solution for user-facing problems.
      </p>
      <p class="c-paragraph">
        Today I live and work in San Francisco. My journey here started at Cost Plus World Market back in 2011.
        I joined the marketing team as a UI developer to work on a website visited by millions of users on a daily basis.
        It was my first experience as an engineer with a huge set of responsibilities.
        I’ve learned a lot since then, grew as an engineer, and have become an active team member with enthusiasm for solving technical problems.
      </p>
    </div>
  </div>
</section>
