<section class="o-container">
  <div class="o-grid">
    <div class="o-grid__item">
      <h1 class="c-label">Currently</h1>
      <p class="c-paragraph">
        Principal Software Engineer <a class="c-link" href="https://carvana.com/" target="_blank" rel="noopener">Carvana</a>
      </p>
    </div>
    <div class="o-grid__item">
      <p class="c-paragraph">
        With a background in design and a passion for technology, front-end engineering became the perfect intersection of creativity and problem-solving for me. I love crafting intuitive user experiences and finding elegant solutions to complex, user-facing challenges.
      </p>
      <p class="c-paragraph">
        Since starting my journey in 2005, Ive grown through hands-on experience, working on widely used digital products and contributing as a collaborative, resourceful team member. Now based in Austin after many years in San Francisco, I bring a thoughtful, user-centered approach to every project I take on.
      </p>
    </div>
  </div>
</section>
