<footer class="o-wrapper c-footer">
  <div class="o-grid o-grid--center o-container">
    <div class="o-grid__item o-grid__item--shrink o-grid__item--spacing">
      <div class="c-footer__actions">
        <a class="c-btn" href="https://github.com/gumennii/gumennii.com/blob/master/assets/files/Mihail_Gumennii_Resume.pdf?raw=true">Download My Resume</a>
      </div>
    </div>
    <div class="o-grid__item">
      <div class="c-footer__actions">
        <a class="c-link" href="https://www.linkedin.com/in/gumennii/" target="_blank" rel="noopener" style="margin-right: 8px;">LinkedIn</a>
        <a class="c-link" href="https://github.com/gumennii" target="_blank" rel="noopener">GitHub</a>
      </div>
    </div>
    <div class="o-grid__item">
      <p class="c-footer__copy">
        Built with love to semantic <strong>HTML</strong>, clean <strong>CSS</strong> and Pure <strong>JavaScript</strong>
      </p>
    </div>
  </div>
</footer>
