<section class="o-grid o-grid--center">
  <div class="o-grid__item">
    <div class="o-container">
      <article class="c-introduction">
        <header class="c-introduction__header">
          <h2 class="c-label">Hello! My name is</h2>
          <h1 class="c-introduction__heading">
            Mihail Gumennii<br />I am a Senior Front-End Engineer
          </h1>
        </header>
        <div class="c-introduction__body">
          Experienced software engineer focused on front-end development, delivering polished, high-impact web experiences. Skilled in building for startups, growing teams, and global enterprises - with a strong eye for design and a commitment to performance, accessibility, and scalability.
        </div>
        <footer class="c-introduction__footer">
          <p class="c-introduction__addition">
            Connect on
            <a
              class="c-link"
              href="https://www.linkedin.com/in/gumennii/"
              target="_blank"
              rel="noopener"
              >LinkedIn</a
            ><br />
            Or feel free to
            <a class="c-link" href="mailto:mihail.gumennii@gmail.com"
              >send me an email</a
            >
          </p>
        </footer>
      </article>
    </div>
  </div>
  <div class="o-grid__item">
    <picture class="c-portrait">
      <source media="(min-width: 64em)" type="image/webp" srcset="../img/portrait/portrait-lg.webp 1x, ../img/portrait/portrait-lg@2x.webp 2x">
      <source media="(min-width: 45em)" type="image/webp" srcset="../img/portrait/portrait-md.webp 1x, ../img/portrait/portrait-md@2x.webp 2x">
      <source media="(max-width: 45em)" type="image/webp" srcset="../img/portrait/portrait-sm.webp 1x, ../img/portrait/portrait-sm@2x.webp 2x">
      <!-- Fallback for browsers that don't support WebP format -->
      <source media="(min-width: 64em)" srcset="../img/portrait/portrait-lg.jpg 1x, ../img/portrait/portrait-lg@2x.jpg 2x">
      <source media="(min-width: 45em)" srcset="../img/portrait/portrait-md.jpg 1x, ../img/portrait/portrait-md@2x.jpg 2x">
      <source media="(max-width: 45em)" srcset="../img/portrait/portrait-sm.jpg 1x, ../img/portrait/portrait-sm@2x.jpg 2x">
      <!-- Final fallback image -->
      <img class="c-portrait__image" alt="Mihail Gumennii" width="100%" height="100%" src="../img/portrait/portrait-md.jpg">
    </picture>
  </div>
</section>
