<section class="o-projects">
  <!-- Carvana -->
  <div class="c-project">
    <div class="c-project__content o-grid o-grid--center">
      <div class="o-grid__item">
        <h1 class="c-project__company">
          Carvana <span>Right & finance used cars online</span>
        </h1>
      </div>
      <div class="o-grid__item">
        <div class="o-grid o-grid--center">
          <div class="o-grid__item">
            <p class="c-paragraph c-paragraph--reset">Principal Software Engineer</p>
          </div>
          <a class="c-project__link" href="https://www.carvana.com" target="_blank" rel="noopener">carvana.com</a>
        </div>
      </div>
    </div>
    <div class="project__media">
      <picture class="c-projects__picture">
        <source media="(min-width: 64em)" type="image/webp" srcset="../img/projects/carvana-lg.webp 1x, ../img/projects/carvana-lg@2x.webp 2x">
        <source media="(min-width: 45em)" type="image/webp" srcset="../img/projects/carvana-md.webp 1x, ../img/projects/carvana-md@2x.webp 2x">
        <source media="(max-width: 45em)" type="image/webp" srcset="../img/projects/carvana-sm.webp 1x, ../img/projects/carvana-sm@2x.webp 2x">
        <!-- Fallback for browsers that don't support WebP -->
        <source media="(min-width: 64em)" srcset="../img/projects/carvana-lg.jpg 1x, ../img/projects/carvana-lg@2x.jpg 2x">
        <source media="(min-width: 45em)" srcset="../img/projects/carvana-md.jpg 1x, ../img/projects/carvana-md@2x.jpg 2x">
        <source media="(max-width: 45em)" srcset="../img/projects/carvana-sm.jpg 1x, ../img/projects/carvana-sm@2x.jpg 2x">
        <!-- Final fallback image -->
        <img class="c-projects__image" alt="Carvana" width="100%" height="100%" src="../img/projects/carvana-md.jpg">
      </picture>
    </div>
  </div>

  <!-- Mya -->
  <div class="c-project">
    <div class="c-project__content o-grid o-grid--center">
      <div class="o-grid__item">
        <h1 class="c-project__company">
          Mya Systems<span>AI-powered recruitment platform streamlines hiring processes</span>
        </h1>
      </div>
      <div class="o-grid__item">
        <div class="o-grid o-grid--center">
          <div class="o-grid__item">
            <p class="c-paragraph c-paragraph--reset">Senior Front-End Engineer</p>
          </div>
          <a class="c-project__link" href="https://www.thestepstonegroup.com" target="_blank" rel="noopener">thestepstonegroup.com</a>
        </div>
      </div>
    </div>
    <div class="project__media">
      <picture class="c-projects__picture">
        <source media="(min-width: 64em)" type="image/webp" srcset="../img/projects/mya-lg.webp 1x, ../img/projects/mya-lg@2x.webp 2x">
        <source media="(min-width: 45em)" type="image/webp" srcset="../img/projects/mya-md.webp 1x, ../img/projects/mya-md@2x.webp 2x">
        <source media="(max-width: 45em)" type="image/webp" srcset="../img/projects/mya-sm.webp 1x, ../img/projects/mya-sm@2x.webp 2x">
        <!-- Fallback for browsers that don't support WebP -->
        <source media="(min-width: 64em)" srcset="../img/projects/mya-lg.jpg 1x, ../img/projects/mya-lg@2x.jpg 2x">
        <source media="(min-width: 45em)" srcset="../img/projects/mya-md.jpg 1x, ../img/projects/mya-md@2x.jpg 2x">
        <source media="(max-width: 45em)" srcset="../img/projects/mya-sm.jpg 1x, ../img/projects/mya-sm@2x.jpg 2x">
        <!-- Final fallback image -->
        <img class="c-projects__image" alt="Mya" width="100%" height="100%" src="../img/projects/mya-md.jpg">
      </picture>
    </div>
  </div>

  <!-- Anki -->
  <div class="c-project">
    <div class="c-project__content o-grid o-grid--center">
      <div class="o-grid__item">
        <h1 class="c-project__company">
          Anki <span>Consumer robotics company offering interactive AI products</span>
        </h1>
      </div>
      <div class="o-grid__item">
        <div class="o-grid o-grid--center">
          <div class="o-grid__item">
            <p class="c-paragraph c-paragraph--reset">Senior Front-End Engineer</p>
          </div>
          <a class="c-project__link" href="https://www.anki.com" target="_blank" rel="noopener">anki.com</a>
        </div>
      </div>
    </div>
    <div class="project__media">
      <picture class="c-projects__picture">
        <source media="(min-width: 64em)" type="image/webp" srcset="../img/projects/anki-lg.webp 1x, ../img/projects/anki-lg@2x.webp 2x">
        <source media="(min-width: 45em)" type="image/webp" srcset="../img/projects/anki-md.webp 1x, ../img/projects/anki-md@2x.webp 2x">
        <source media="(max-width: 45em)" type="image/webp" srcset="../img/projects/anki-sm.webp 1x, ../img/projects/anki-sm@2x.webp 2x">
        <!-- Fallback for browsers that don't support WebP -->
        <source media="(min-width: 64em)" srcset="../img/projects/anki-lg.jpg 1x, ../img/projects/anki-lg@2x.jpg 2x">
        <source media="(min-width: 45em)" srcset="../img/projects/anki-md.jpg 1x, ../img/projects/anki-md@2x.jpg 2x">
        <source media="(max-width: 45em)" srcset="../img/projects/anki-sm.jpg 1x, ../img/projects/anki-sm@2x.jpg 2x">
        <!-- Final fallback image -->
        <img class="c-projects__image" alt="Anki" width="100%" height="100%" src="../img/projects/anki-md.jpg">
      </picture>
    </div>
  </div>

  <!-- Lucky Brand -->
  <div class="c-project">
    <div class="c-project__content o-grid o-grid--center">
      <div class="o-grid__item">
        <h1 class="c-project__company">
          Lucky Brand Jeans<span>American Denim</span>
        </h1>
      </div>
      <div class="o-grid__item">
        <div class="o-grid o-grid--center">
          <div class="o-grid__item">
            <p class="c-paragraph c-paragraph--reset">Front-End Engineer</p>
          </div>
          <a class="c-project__link" href="https://www.luckybrand.com/" target="_blank" rel="noopener">luckybrand.com</a>
        </div>
      </div>
    </div>
    <div class="project__media">
      <picture class="c-projects__picture">
        <source media="(min-width: 64em)" type="image/webp" srcset="../img/projects/lucky-lg.webp 1x, ../img/projects/lucky-lg@2x.webp 2x">
        <source media="(min-width: 45em)" type="image/webp" srcset="../img/projects/lucky-md.webp 1x, ../img/projects/lucky-md@2x.webp 2x">
        <source media="(max-width: 45em)" type="image/webp" srcset="../img/projects/lucky-sm.webp 1x, ../img/projects/lucky-sm@2x.webp 2x">
        <!-- Fallback for browsers that don't support WebP -->
        <source media="(min-width: 64em)" srcset="../img/projects/lucky-lg.jpg 1x, ../img/projects/lucky-lg@2x.jpg 2x">
        <source media="(min-width: 45em)" srcset="../img/projects/lucky-md.jpg 1x, ../img/projects/lucky-md@2x.jpg 2x">
        <source media="(max-width: 45em)" srcset="../img/projects/lucky-sm.jpg 1x, ../img/projects/lucky-sm@2x.jpg 2x">
        <!-- Final fallback image -->
        <img class="c-projects__image" alt="Lucky Brand" width="100%" height="100%" src="../img/projects/lucky-md.jpg">
      </picture>
    </div>
  </div>

  <!-- Cost Plus World Market-->
  <div class="c-project">
    <div class="c-project__content o-grid o-grid--center">
      <div class="o-grid__item">
        <h1 class="c-project__company">
          Cost Plus World Market <span>Original and handmade items from around the world</span>
        </h1>
      </div>
      <div class="o-grid__item">
        <div class="o-grid o-grid--center">
          <div class="o-grid__item">
            <p class="c-paragraph c-paragraph--reset">Front-End Engineer</p>
          </div>
          <a class="c-project__link" href="https://www.worldmarket.com/" target="_blank" rel="noopener">worldmarket.com</a>
        </div>
      </div>
    </div>
    <div class="project__media">
      <picture class="c-projects__picture">
        <source media="(min-width: 64em)" type="image/webp" srcset="../img/projects/wm-lg.webp 1x, ../img/projects/wm-lg@2x.webp 2x">
        <source media="(min-width: 45em)" type="image/webp" srcset="../img/projects/wm-md.webp 1x, ../img/projects/wm-md@2x.webp 2x">
        <source media="(max-width: 45em)" type="image/webp" srcset="../img/projects/wm-sm.webp 1x, ../img/projects/wm-sm@2x.webp 2x">
        <!-- Fallback for browsers that don't support WebP -->
        <source media="(min-width: 64em)" srcset="../img/projects/wm-lg.jpg 1x, ../img/projects/wm-lg@2x.jpg 2x">
        <source media="(min-width: 45em)" srcset="../img/projects/wm-md.jpg 1x, ../img/projects/wm-md@2x.jpg 2x">
        <source media="(max-width: 45em)" srcset="../img/projects/wm-sm.jpg 1x, ../img/projects/wm-sm@2x.jpg 2x">
        <!-- Final fallback image -->
        <img class="c-projects__image" alt="World Market" width="100%" height="100%" src="../img/projects/wm-md.jpg">
      </picture>
    </div>
  </div>

  <!-- BTS-->
  <div class="c-project">
    <div class="c-project__content o-grid o-grid--center">
      <div class="o-grid__item">
        <h1 class="c-project__company">
          BTS <span>Corporate training solutions provider</span>
        </h1>
      </div>
      <div class="o-grid__item">
        <div class="o-grid o-grid--center">
          <div class="o-grid__item">
            <p class="c-paragraph c-paragraph--reset">Software Engineer</p>
          </div>
          <a class="c-project__link" href="https://www.bts.com/" target="_blank" rel="noopener">bts.com</a>
        </div>
      </div>
    </div>
    <div class="project__media">
      <picture class="c-projects__picture">
        <source media="(min-width: 64em)" type="image/webp" srcset="../img/projects/bts-lg.webp 1x, ../img/projects/bts-lg@2x.webp 2x">
        <source media="(min-width: 45em)" type="image/webp" srcset="../img/projects/bts-md.webp 1x, ../img/projects/bts-md@2x.webp 2x">
        <source media="(max-width: 45em)" type="image/webp" srcset="../img/projects/bts-sm.webp 1x, ../img/projects/bts-sm@2x.webp 2x">
        <!-- Fallback for browsers that don't support WebP -->
        <source media="(min-width: 64em)" srcset="../img/projects/bts-lg.jpg 1x, ../img/projects/bts-lg@2x.jpg 2x">
        <source media="(min-width: 45em)" srcset="../img/projects/bts-md.jpg 1x, ../img/projects/bts-md@2x.jpg 2x">
        <source media="(max-width: 45em)" srcset="../img/projects/bts-sm.jpg 1x, ../img/projects/bts-sm@2x.jpg 2x">
        <!-- Final fallback image -->
        <img class="c-projects__image" alt="BTS" width="100%" height="100%" src="../img/projects/bts-md.jpg">
      </picture>
    </div>
  </div>
</section>
