/* Components: Projects */

.c-project {
  position: relative;
  color: #fff;
}

.c-project__content {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 24px;
}

.c-projects__picture {
  margin: 0;
  display: block;
}

.c-projects__image {
  display: block;
  max-width: 100%;
  height: 160px;
  object-fit: cover;
  object-position: center;
}

.c-project__company {
  margin: 0;
  padding: 0;
  font-size: 1.75rem;
  font-family: var(--font-secondary);
  font-weight: 400;
  line-height: 1.4;
}

.c-project__company span {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 8px;
}

.c-project__link {
  position: relative;
  font-size: 0.875rem;
}

.c-project__link:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #fff;
}

@media (min-width: 45em) {
  .c-project {
    color: inherit;
    border-top: 1px solid var(--color-bg-secondary);
    border-bottom: 1px solid var(--color-bg-secondary);
  }
  .c-project:hover,
  .c-project:hover span {
    color: #fff;
  }
  .c-projects__image {
    opacity: 0;
    height: 130px;
  }
  .c-project:hover .c-projects__image {
    opacity: 1;
  }
  .c-project__content {
    padding: 30px 32px;
  }
  .c-project__company span {
    color: var(--color-text-secondary);
  }
}

@media (min-width: 64em) {
  .c-project__content {
    padding: 32px 64px;
  }
}
